.game-warp {
    list-style: none;
    text-align: center;
}
.game-warp li {
    display: inline-block;
    padding: 10px;
    line-height: 18px;
    margin-top: 10px;
}
.game-warp li span{
    color: green;
}
.form {
    display: block;
    width: 400px;
    height: 300px;
    margin: 20px auto;
    font-size: 0;
    text-align: center;
}
.form input {
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 38px;
    border-radius: 8px;
    border: 1px solid #e8e8e8;
    color: #333;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    vertical-align: middle;
    font-weight: bold;
    position: relative;
}
.form input ::-webkit-input-placeholder {
     color: #e2e2e2;
}
.form button {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    user-select: none;
    font-size: 16px;
    color: #333;
    border-radius: 8px;
    border: solid 1px #FFCB00;
    background-color: #FFCB00;
    margin: 0 20px;
    cursor: pointer;
    vertical-align: middle;
}
.poker-warp {
    position: relative;
    width: 600px;
    height: 500px;
    margin: 20% auto;
}
.poker-item {
    position: absolute;
    display: block;
    width: 130px;
    height: 192px;
    text-align: center;
}
.poker-item.poker-left {
    top: 0;
    left: 0;
    transform: rotate(-90deg);
}
.poker-item.poker-right {
    top: 0;
    right: 0;
    transform: rotate(90deg);
}
.poker-item.poker-self {
    bottom: 0;
    left: 50%;
    transform: translateX(-50px);
}
.poker-item .poker-card {
    display: inline-block;
    width: 130px;
    height: 192px;
    line-height: 174px;
    font-size: 200px;
}
.poker-item  .poker-user {
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: green;
    border-radius: 6px;
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
    margin: 10px auto;
}
