.game-warp {
    list-style: none;
}
.game-warp li {
    display: inline-block;
    padding: 10px;
}
.form {
    display: block;
    width: 300px;
    height: 300px;
    margin: 20px auto;
    font-size: 0;
}
.form input {
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 38px;
    border-radius: 8px;
    border: 1px solid #e8e8e8;
    color: #333;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    vertical-align: middle;
    font-weight: bold;
    position: relative;
}
.form input ::-webkit-input-placeholder {
     color: #e2e2e2;
}
.form button {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    user-select: none;
    font-size: 16px;
    color: #333;
    border-radius: 8px;
    border: solid 1px #FFCB00;
    background-color: #FFCB00;
    margin: 0 20px;
    cursor: pointer;
    vertical-align: middle;
}
